@using Model.EF
@using Model.Models
@{
    ViewBag.Title = "Đăng truyện";
    Layout = "~/Views/Shared/_User.cshtml";
    List<chapter> chapters = ViewBag.Chapters;

    Messenge mss = ViewBag.Mess;

}

<div class="bg-main cover">
    <div class="title">
        <h2>Thêm chương</h2>
    </div>
    <div class="from-add-comic">

        @switch (mss.Code)
        {
            case 1:
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Thành công !</strong> @mss.Mss .
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                break;

            case 0:
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Thất bại!</strong> tải lên thất bại.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                break;
        }

        <form action="@Url.Action("Chapter", "User", new {comicId = Request["comicId"]})" method="post" enctype="multipart/form-data">

            <div class="row">
                <div class="col-md-6 col-12 form-group">
                    <label>Tên chương</label>
                    <input type="text" class="form-control" name="namechapter" placeholder="Tên truyện">
                </div>
                <div class="col-md-6 col-12 form-group">
                    <label>Ảnh</label>
                    <input type="file" class="form-control" name="files" multiple="multiple">
                </div>
                <div class="col-md-3 col-12 float-right">
                    <button class="btn btn-success" type="submit">Thêm</button>
                </div>
            </div>

        </form>

    </div>
</div>

<div class="cover bg-main">
    <div class="title">
        <h2>Danh sách chương </h2>
    </div>
    <div class="row">
        <div class="col-12">

            <div class="data-table bg-main">

                <table id="censorship" class="display table table-hover table-dark">
                    <thead class="thead-dark">
                    <tr class="d-flex text-center">
                        <th class="col-1">Stt</th>
                        <th class="col-3">Tên chương</th>
                        <th class="col-3">Lượt xem</th>
                        <th class="col-4">Đường dẫn ảnh</th>
                        <th class="col-1">Xóa</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (chapters.Count > 0)
                    {
                        int i = 0;
                        foreach (chapter chapter in chapters)
                        {
                            i++;

                            <tr class="d-flex text-center">
                                <td class="col-1">@i</td>
                                <td class="col-3">@chapter.NameChapter</td>
                                <td class="col-3">@chapter.View</td>
                                <td class="col-4">@chapter.FolderImage</td>
                                <td class="col-1">
                                    <button id-chapter="@chapter.ChapterId" class="btn btn-danger btn-delete-chapter" type="button">
                                        <i class="ion-android-delete"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>