@using Model.EF
@{
    ViewBag.Title = "Tất cả truyện";
    Layout = "~/Views/Shared/_User.cshtml";
    List<comic> comics = ViewBag.Comics;
    List<status_comic> statusComics = ViewBag.StatusComics;

}

<div class="cover bg-main">
    <div class="title">
        <h2>Danh sánh chuyện trên web</h2>
    </div>
    <div class="row">
        <div class="col-12">

            <div class="data-table bg-main">

                <table id="censorship" class="display table table-hover table-dark">
                    <thead class="thead-dark">
                    <tr class="d-flex text-center">
                        <th class="col-1">Stt</th>
                        <th class="col-1">Ảnh</th>
                        <th class="col-2">Tên truyện</th>
                        <th class="col-1">Tên người đăng</th>
                        <th class="col-2">Thời gian đăng</th>
                        <th class="col-2">Cập nhật lần cuối</th>
                        <th class="col-2">Trạng thái</th>
                        <th class="col-1">Xóa</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (comics.Count > 0)
                    {
                        int i = 0;
                        foreach (comic comic in comics)
                        {
                            i++;
                            var chapters = comic.chapters;

                            var date1 = (DateTime) comic.ReleaseDate;
                            var reDate = date1.ToString("dd/MM/yy hh:mm");

                            var date2 = (DateTime) comic.UpdateAt;
                            var updateAt = date2.ToString("dd/MM/yy hh:mm");

                            <tr class="d-flex text-center">
                                <td class="col-1">
                                    @i
                                    <span class="btn-detail">
                                        <i class="ion-ios-eye"></i>
                                    </span>
                                </td>
                                <td class="col-1">
                                    <img src="@comic.CommicBanner" alt="" class="img-fluid">
                                </td>
                                <td class="col-2">@comic.NameComic</td>
                                <td class="col-1" title="Email: @comic.user.UserMail ">@comic.user.Username</td>
                                <td class="col-2">@reDate</td>
                                <td class="col-2">@updateAt</td>
                                <td class="col-2">
                                    <select name="change-status-comic" class="form-control change-status-comic" id-comic="@comic.ComicId">
                                        @foreach (status_comic statusComic in statusComics)
                                        {
                                            if (comic.status_comic.StatusComicId == statusComic.StatusComicId)
                                            {
                                                <option value="@statusComic.StatusComicId" selected="selected">@statusComic.StatusComicName</option>
                                            }
                                            else
                                            {
                                                <option value="@statusComic.StatusComicId">@statusComic.StatusComicName</option>
                                            }
                                        }
                                    </select>
                                </td>
                                <td class="col-1">
                                    <button id-comic="@comic.ComicId" class="btn btn-danger btn-delete-comic" type="button">
                                        <i class="ion-android-delete"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="d-none detail-show">
                                <td class="col-11 offset-1">
                                    <div class="row">
                                        <ul class="col-12">
                                            <li class="row">
                                                <div class="col-2">Tóm tắt: </div>
                                                <div class="col-10"> @comic.SummaryComic</div>
                                            </li>
                                            <li class="row">
                                                <div class="col-2">
                                                    Thể loại:
                                                </div>
                                                <div class="col-10 d-flex">
                                                    @foreach (comic_category comicCategory in @comic.comic_category)
                                                    {
                                                        <p class="mr-3">@comicCategory.category.NameCategory</p>
                                                    }
                                                </div>
                                            </li>
                                            <li class="row">
                                                <div class="col-2"> Tổng số chương: </div>
                                                <div class="col-10">@chapters.Count</div>
                                            </li>
                                            <li class="row">
                                                <div class="col-2">Tổng lượt xem: </div>
                                                <div class="col-10"> @chapters.Sum(chapter => chapter.View)</div>
                                            </li>
                                            <li class="row">
                                                <div class="col-2">Đánh giá: </div>
                                                <div class="col-10"> @comic.Rating/100 sau @comic.NumRating đánh giá</div>
                                            </li>
                                        </ul>

                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>


                <nav aria-label="Page navigation example" class="page">
                    <ul class="pagination justify-content-end">

                        @if (ViewBag.Page > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("ListAllComic", "User", new {page = ViewBag.Page - 1})" tabindex="-1" aria-disabled="true">
                                    <i class="ion-chevron-left"></i>
                                </a>
                            </li>
                        }


                        @for (var i = 1; i <= ViewBag.Numpage; i++)
                        {
                            if (ViewBag.Page == i)
                            {
                                <li class="page-item active">
                                    <a class="page-link active" href="@Url.Action("ListAllComic", "User", new {page = i})">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link active" href="@Url.Action("ListAllComic", "User", new {page = i})">@i</a>
                                </li>
                            }
                        }

                        @if (ViewBag.Page < ViewBag.Numpage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("ListAllComic", "User", new {page = ViewBag.Page + 1})">
                                    <i class="ion-chevron-right"></i>
                                </a>
                            </li>
                        }

                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>