@using Model.EF
@{
    chapter chapter = ViewBag.Chapter;
    List<chapter> chapters = ViewBag.Chapters;

    int idChapterMax = chapters.Max(c => c.ChapterId);
    int idChapterMin = chapters.Min(c => c.ChapterId);
    
    var pathFolder = String.Format("~{0}", chapter.FolderImage);

    IEnumerable<String> paths = new List<string>();
    try
    {
        paths = Directory.EnumerateFiles(Server.MapPath(pathFolder)).OrderBy(s => s.Length);
    }
    catch
    {
        // ignored
    }

}

<div id="read-chapter" class="ok"></div>

<div class="row">
    <div class="col-12">
        <div class="completed bg-main">
            <ul>
                <Li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </Li>
                <Li class="d-md-block d-none">
                    <a href="@Url.Action("Index", "Comic", new {comicId = chapter.ComicId})">@chapter.comic.NameComic</a>
                </Li>
                <Li>
                    <a href="@Url.Action("Index", "Chapter", new {chapterId = chapter.ChapterId})">@chapter.NameChapter</a>
                </Li>
            </ul>
        </div>
    </div>
    <div class="col-12 text-center img-main">
        @foreach (String path in paths)
        {
            var a = path.Substring(42);
            <img src="@a" class="img-fluid" alt="">
        }
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="main bg-main">
            <h3>Bình luận</h3>
            <div class="cover-comment">

                <textarea class="form-control" name="comment" id="comment" rows="5"></textarea>
                <button id-chapter = "@chapter.ChapterId" class="float-right btn-cmt">Đăng</button>

            </div>

            <div class="show-cmt">
                <div class="item-comment">
                    <div class="cover-comment-user">
                        <div class="row">

                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>

</div>


<div class="bg-main ">
    <nav class="nav " id="nav-bottom">
        <ul class="nav justify-content-center">
            <li class="nav-item" id="back">
                @if (chapter.ChapterId > idChapterMin)
                {
                    int idChapterBack = chapters.Where(c => c.ChapterId < chapter.ChapterId).Max(c => c.ChapterId);

                    <a class="nav-link " href="@Url.Action("Index", "Chapter", new {chapterId = idChapterBack})">
                        <i class="ion-ios-skipbackward"></i>
                    </a>
                }

            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Comic", new {comicId = chapter.ComicId})">
                    <i class="ion-android-home"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="menu">
                    <i class="ion-android-menu"></i>
                </a>
            </li>
            <li class="nav-item">
                @if (chapter.ChapterId < idChapterMax)
                {
                    int idChapterNext = chapters.Where(c => c.ChapterId > chapter.ChapterId).Min(c => c.ChapterId);

                    <a class="nav-link " href="@Url.Action("Index", "Chapter", new {chapterId = idChapterNext})">
                        <i class="ion-ios-skipforward"></i>
                    </a>
                }

            </li>

        </ul>
    </nav>
</div>

<div class="list-read-chapter bg-main">
    <div class="cover-list">
        <ul>
            @foreach (chapter c in chapters)
            {
                if (c.ChapterId == chapter.ChapterId)
                {
                    <li class="active">
                        <a href="@Url.Action("Index", "Chapter", new {chapterId = c.ChapterId})">@c.NameChapter</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Index", "Chapter", new {chapterId = c.ChapterId})">@c.NameChapter</a>
                    </li>
                }
            }
        </ul>
    </div>
</div>