@using System.Web.Configuration
@using Model.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ComicCategoryFilte> comics = ViewBag.ComicsMain;
    String name = ViewBag.NameCategory;
    name = name.ToLower();
}

<div class="main bg-main">

    <h2>Danh sách truyện thể loại: @name</h2>

    <div class="row">

        @if (comics.Count < 1)
        {
            <div class="col-12 pt-2">
                <h4>Không có kết quả phù hợp cho thể loại: @name</h4>
            </div>
        }
        @foreach (ComicCategoryFilte comic in  comics)
        {
            <div class="col-lg-2 col-sm-3 col-6">

                <div class="comic-item" id-comic="@comic.ComicId">
                    <a href="@Url.Action("Index", "Comic", new {comicId = @comic.ComicId})">
                        <div class="item-main">
                            <div class="img-cover">
                                <div class="img-bg bg-img-full" url-bg="@comic.BanerComic"></div>
                            </div>
                            @if (comic.Chapters.Count > 0)
                            {
                                var numNewChapter = comic.Chapters.Max(chapter => chapter.NumChapter);
                                var nameNewChapter = comic.Chapters.LastOrDefault(chapter => chapter.NumChapter == numNewChapter)?.NameChapter;

                                <div class="new-chapter">
                                    <a href="@Url.Action("Index", "Chapter", new {chapterId = numNewChapter})">@nameNewChapter</a>
                                </div>

                                if (comic.Chapters.ToList().Sum(chapter => chapter.View) / comic.Chapters.Count > 2000)
                                {
                                    <div class="chpter-hot">
                                        Hot
                                    </div>
                                }
                            }

                        </div>
                    </a>

                    <div class="name-comic text-light">
                        <a href="@Url.Action("Index", "Comic", new {comicId = @comic.ComicId})">@comic.NameComic</a>
                    </div>
                </div>

            </div>
        }


    </div>

    @* paging *@

    <nav aria-label="Page navigation example" class="page">
        <ul class="pagination justify-content-end">

            @if (ViewBag.Page > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", "Category", new {page = ViewBag.Page - 1, categoryId = ViewBag.Category})" tabindex="-1" aria-disabled="true">
                        <i class="ion-chevron-left"></i>
                    </a>
                </li>
            }


            @for (var i = 1; i <= ViewBag.Numpage; i++)
            {
                if (ViewBag.Page == i)
                {
                    <li class="page-item active">
                        <a class="page-link active" href="@Url.Action("Index", "Category", new {page = i, categoryId = ViewBag.Category})">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link active" href="@Url.Action("Index", "Category", new {page = i, categoryId = ViewBag.Category})">@i</a>
                    </li>
                }
            }

            @if (ViewBag.Page < ViewBag.Numpage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", "Category", new {page = ViewBag.Page + 1, categoryId = ViewBag.Category})">
                        <i class="ion-chevron-right"></i>
                    </a>
                </li>
            }

        </ul>
    </nav>

</div>

@{
    Html.RenderAction("_ComicNew", "Comic");
}