@using Model.EF
@{
    List<String> listInAc = ViewBag.ListInAc;
    List<String> listNotInAc = ViewBag.ListNotInAc;
    String statusAc = ViewBag.StatusAc;
    String autherAc = ViewBag.AuthorAc;
    String nationAc = ViewBag.NationAc;
}
<div class="tab bg-main">
    <h3>Thể loại</h3>
    <div class="form-search max-h-370">
        <div class="part-type">

            @foreach (category category in ViewBag.Categorys)
            {
                if (listInAc.Contains(category.CategoryId.ToString()))
                {
                    <label class="check">
                        @category.NameCategory
                        <input type="checkbox" class="category-search" name="category" value="@category.CategoryId" data-check="1">
                        <span></span>
                    </label>
                }
                else if (listNotInAc.Contains(category.CategoryId.ToString()))
                {
                    <label class="check">
                        @category.NameCategory
                        <input type="checkbox" class="category-search" name="category" value="@category.CategoryId" data-check="-1">
                        <span></span>
                    </label>
                }
                else
                {
                    <label class="check">
                        @category.NameCategory
                        <input type="checkbox" class="category-search" name="category" value="@category.CategoryId" data-check="0">
                        <span></span>
                    </label>
                }
            }
        </div>

    </div>

    <span class="more">Xem tất cả</span>

</div>

<div class="tab bg-main">

    <h3>Tình trạng</h3>
    <div class="form-search">
        <select class="form-control" id="status-search" name="status" id="">
            <option value="0">Tất cả</option>
            @foreach (status_comic stcm in ViewBag.Status)
            {
                if (stcm.StatusComicId.ToString().Equals(statusAc))
                {
                    <option value="@stcm.StatusComicId" selected="selected">@stcm.StatusComicName</option>
                }
                else
                {
                    <option value="@stcm.StatusComicId">@stcm.StatusComicName</option>
                }
            }
        </select>
    </div>

</div>


<div class="tab bg-main">

    <h3>Tên tác giả</h3>
    <div class="form-search">
        <input type="text" id="author-seach" value="@autherAc" class="form-control" name="author" placeholder="Tên tác giả">
    </div>

</div>

<div class="tab bg-main">

    <h3>Quốc gia</h3>
    <div class="form-search">
        <select class="form-control"  name="nation" id="nation-search">
            <option value="0">Tất cả</option>
            @foreach (nation nation in ViewBag.Nations)
            {
                if (nation.NationId.ToString().Equals(nationAc))
                {
                    <option value="@nation.NationId" selected="selected">@nation.NameNation</option>
                }
                else
                {
                    <option value="@nation.NationId">@nation.NameNation</option>
                }
            }
        </select>
    </div>

</div>