@using Model.EF
<nav class="navbar navbar-expand-lg navbar-light  container-fluid bg-nav" id="top-nav">
    <div class="container">
        <a class="navbar-brand" href="~/Home">
            <img src="~/Upload/Config/logo.png" height="50px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" id="show-category">Thể loại</a>
                    <div class="menu-category">
                        <div class="list-category">
                            <div class="row">

                                @foreach (category c in ViewBag.Data)
                                {
                                    <div class="col-md-2 col-6 item-category">
                                        <a href="@Url.Action("Index", "Category", new {categoryId = c.CategoryId})">@c.NameCategory</a>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("SearchAdvanced", "Comic")">Lọc nâng cao</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("History", "User")">Lịch sử</a>
                </li>
                @if (Session["user"] == null)
                {
                    <li class="nav-item ">
                        <a class="nav-link" href="@Url.Action("Login", "User")">Đăng nhập</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="@Url.Action("Index", "User")">Đăng ký</a>
                    </li>
                }
                @if (Session["user"] != null)
                {
                    <li class="nav-item ">
                        <a class="nav-link" href="@Url.Action("Index", "User")">Tài khoản</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="@Url.Action("Logout", "User")">Đăng xuất</a>
                    </li>
                }
            </ul>
            <form class="form-inline my-2 my-lg-0" action="@Url.Action("SearchAdvanced", "Comic")">
                <input class="form-control ip-search" type="search" name="nameComic" placeholder="Nhập tên chuyện ">
                <button class="btn btn-white my-2" type="submit">
                    <i class="ion-ios-search-strong"></i>
                </button>
            </form>
        </div>
    </div>
</nav>