@using Model.EF
@* Slide *@
<div class="slide bg-main ">

    <h2>Top chuyện hàng đầu</h2>

    <div class="slide-main">
        <div class="owl-carousel owl-theme">

            @foreach (comic comic in   ViewBag.Data)
            {
                <div class="item-slide">

                    <div class="comic-item">
                        <a href="@Url.Action("Index", "Comic", new {comicId = @comic.ComicId})">
                            <div class="item-main">
                                <div class="img-cover">
                                    <div class="img-bg bg-img-full" url-bg="@comic.CommicBanner"></div>
                                </div>
                                @if (comic.chapters.Count > 0)
                                {
                                    var numNewChapter = comic.chapters.Max(chapter => chapter.NumChapter);
                                    var newChapter = comic.chapters.LastOrDefault(chapter => chapter.NumChapter == numNewChapter);
                                    var idNewChapter = newChapter.ChapterId;
                                    var nameNewChapter = newChapter.NameChapter;

                                    <div class="new-chapter">
                                        <a href="@Url.Action("Index", "Chapter", new {chapterId = idNewChapter})">@nameNewChapter</a>
                                    </div>

                                    if (comic.chapters.ToList().Sum(chapter => chapter.View) / comic.chapters.Count > 2000)
                                    {
                                        <div class="chpter-hot">
                                            Hot
                                        </div>
                                    }
                                }
                            </div>
                        </a>

                        <div class="name-comic text-light">
                            <a href="@Url.Action("Index", "Comic", new {comicId = @comic.ComicId})">@comic.NameComic</a>
                        </div>
                    </div>

                </div>
            }



        </div>
    </div>

</div>