@using Model.EF
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    comic comic = ViewBag.Data;
    var dateAt = String.Format("{0:dd/MM/yyyy hh:mm}", comic.UpdateAt);
}
<div class="comic-cover">
    <div class="row">

        <div class="col-12">

            <div class="comic bg-main">
                <div class="row detail-comic">
                    <div class="col-md-3">
                        <div class="comic-item">
                            <a href="@Url.Action("Index", new {comicId = @comic.ComicId})">
                                <div class="item-main">
                                    <div class="img-cover">
                                        <div class="img-bg bg-img-full" url-bg="@comic.CommicBanner"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        @if (comic.chapters.Count > 0)
                        {
                            <a class="" href="@Url.Action("Index", "Chapter",new {chapterId = comic.chapters.Min(chapter => chapter.ChapterId)})">
                                <button type="button" class="last-chapter">
                                    Đọc từ đầu
                                </button>
                            </a>
                        }
                    </div>
                    <div class="col-md-9">
                        <div class="content-comic">
                            <h4>
                                @comic.NameComic
                            </h4>
                            <span class="properti-comic">Thể loại: </span>

                            <div class="cover-type">
                                @foreach (comic_category category in comic.comic_category.ToList())
                                {
                                    <a href="@Url.Action("Index", "Category", new {categoryId = category.CategoryId})">
                                        <span class="type-comic">@category.category.NameCategory</span>
                                    </a>
                                }

                            </div>

                            <span class="properti-comic">Tác giả: @comic.AuthorComic</span>

                            <span class="properti-comic">Trạng thái: @comic.status_comic.StatusComicName</span>

                        </div>

                    </div>
                </div>
                <div class="extra-comic">
                    <div class="row">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-12 name-extra">Cập nhật</div>
                                <div class="col-12 content-extra ">@dateAt </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-12 name-extra">Đánh giá</div>
                                <div class="col-12 content-extra ">@comic.Rating/100</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-12 name-extra">Lượt xem</div>
                                <div class="col-12 content-extra ">@comic.chapters.Sum(chapter => chapter.View)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="store-comic">
                    <div class="row">
                        <div class="col-12">
                            <h4>Tóm tắt</h4>
                            <p>@comic.SummaryComic</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-chapter bg-main">
                <div class="row">
                    <div class="col-12">
                        <h4>Danh sách chương</h4>
                        <div class="show-list-chapter">
                            <ul class="list-chapters">

                                @if (comic.chapters.Count > 0)
                                {
                                    foreach (chapter chapter in comic.chapters.OrderByDescending(c => c.NumChapter).ToList())
                                    {
                                        <a href="@Url.Action("Index", "Chapter", new {chapterId = chapter.ChapterId})">
                                            <li>
                                                <p class="name-chapter">@chapter.NameChapter</p>
                                                <p class="time-at-chapter">@chapter.View</p>
                                            </li>
                                        </a>
                                    }
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>