@using Model.EF
@{
    ViewBag.Title = "Tìm kiếm nâng cao";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pageBack = ViewBag.Page - 1;
    int pageNext = ViewBag.Page + 1;
}
<div class="row">
    <div class="col-md-9">
        <div class="main bg-main ">

            <h2>Kết quả tìm kiếm</h2>
            <div class="task-sort">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-search ">
                            <input type="text" class="form-control" name="name" value="@ViewBag.Search"  placeholder="Nhập tên chuyện">
                        </div>
                    </div>
                    <div class="col-md-4 offset-md-4">
                        <div class="list-sort ">
                            <select name="sort" class="form-control" >
                                <option value="1">A-Z</option>
                                <option value="2">Z-A</option>
                                <option value="3">Mới cập nhật</option>
                                <option value="4">Truyện mới</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row ajax-show">

                @foreach (comic comic in  ViewBag.Comics)
                {
                    <div class="col-sm-3 col-6">

                        <div class="comic-item">
                            <a href="@Url.Action("Index", "Comic", new {comicId = @comic.ComicId})">
                                <div class="item-main">
                                    <div class="img-cover">
                                        <div class="img-bg bg-img-full" url-bg="@comic.CommicBanner"></div>
                                    </div>
                                    @if (comic.chapters.Count > 0)
                                    {
                                        <div class="new-chapter">
                                            <a href="@Url.Action("Index", "Chapter", new {chapterId = comic.chapters.Max(chapter => chapter.ChapterId)})">@comic.chapters.Max(chapter => chapter.NameChapter)</a>
                                        </div>

                                        if (comic.chapters.ToList().Sum(chapter => chapter.View) / comic.chapters.Count > 2000)
                                        {
                                            <div class="chpter-hot">
                                                Hot
                                            </div>
                                        }
                                    }
                                </div>
                            </a>

                            <div class="name-comic text-light">
                                <a href="@Url.Action("Index", "Comic", new {comicId = @comic.ComicId})">@comic.NameComic</a>
                            </div>
                        </div>

                    </div>
                }


            </div>

            @* paging *@

            <nav aria-label="Page navigation example" class="page">
                <ul class="pagination justify-content-end">

                    @if (ViewBag.Page > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Comic/SearchAdvanced?page=@pageBack&@ViewBag.Url" tabindex="-1" aria-disabled="true">
                                <i class="ion-chevron-left"></i>
                            </a>
                        </li>
                    }

                    @for (var i = 1; i <= ViewBag.Numpage; i++)
                    {
                        if (ViewBag.Page == i)
                        {
                            <li class="page-item active">
                                <a class="page-link active" href="/Comic/SearchAdvanced?page=@i&@ViewBag.Url">@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link active" href="/Comic/SearchAdvanced?page=@i&@ViewBag.Url">@i</a>
                            </li>
                        }
                    }

                    @if (ViewBag.Page < ViewBag.Numpage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Comic/SearchAdvanced?page=@pageNext&@ViewBag.Url" tabindex="-1" aria-disabled="true">
                                <i class="ion-chevron-right"></i>
                            </a>
                        </li>
                    }

                </ul>
            </nav>

        </div>
    </div>

    <div class="col-md-3">
        <div class=" main ">
            @{
                Html.RenderPartial("_FilterBar");
            }
        </div>
    </div>


</div>